.fc-left {
  flex-wrap: wrap;
}

.fc-button-primary {
}

.fc-button-primary.fc-upperTitle-button {
  width: 100%;
  background: none;
  border: none;
  outline: none;
  color: #4D4F5C;
  text-align: left;
  font-family: 'Source Sans Pro';
  font-size: 18px;
}

.fc-button-primary.fc-upperTitle-button:hover {
  width: 100%;
  background: none;
  border: none;
  outline: none;
  color: #4D4F5C;
  text-align: left;
  font-family: 'Source Sans Pro';
  font-size: 18px;
}

.fc-center {
  align-self: flex-end;
}

.fc-right {
  align-self: flex-start;
}