.fc-left {
  flex-wrap: wrap;
}

.fc-day {
  position: relative;
  z-index: 4;
}

.fc-button-primary.fc-upperTitle-button {
  width: 100%;
  background: none;
  border: none;
  outline: none;
  color: #4D4F5C;
  text-align: left;
  font-family: 'Source Sans Pro';
  font-size: 18px;
}

.fc-button-primary.fc-upperTitle-button:hover {
  width: 100%;
  background: none;
  border: none;
  outline: none;
  color: #4D4F5C;
  text-align: left;
  font-family: 'Source Sans Pro';
  font-size: 18px;
}

.fc-center {
  align-self: flex-end;
}

.fc-right {
  align-self: flex-start;
}

.modal-body {
  position: absolute;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  width: 200px;
  height: 275px;
  z-index: 5;
  background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 3px 18px #00000029;
border: 1px solid #43425D;
border-radius: 10px;
opacity: 1;
padding: 22px 25px;
top: 50%;
left: 50%;
background: #fff;
-webkit-transform: translate(-50%,10%);
        transform: translate(-50%,10%);
}

.calendar-block_top {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
}

.buttons-form {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
          -webkit-box-align: end;
                  align-items: flex-end;
}

.block-form {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
          -webkit-box-pack: justify;
                  justify-content: space-between;
}

.modal-close {
  position: absolute;
  width: 20px;
  height: 20px;
  line-height: 20px;
  border-radius: 50%;
  background: #fff;
  color: #D6D6D6;
  font-weight: bold;
  text-align: center;
  border: 2px solid #D6D6D6;
  top: 10px;
  right: 10px;
  padding: 0;
}

.button-form {
  background: #fff;
  border: none;
  outline: none;
  color: #6A6996;
  font-size: 12px;
}

.buttons__cancel {
  color: #FF5F5F;
}